<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" \
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.slack.watcher</string>
  
  <key>LowPriorityIO</key>
  <true/>
  
  <key>ProgramArguments</key>
  <array>
    <string>/Users/henrikra/projects/slack-auto-remote-status/slack-auto-remote-status.sh</string>
  </array>
  
  <key>WatchPaths</key>
  <array>
    <string>/Library/Preferences/SystemConfiguration/com.apple.airport.preferences.plist</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>